/* Write your CSS here */
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .app-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}
.ipl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .ipl {
    padding: 30px;
  }
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .img {
    width: 70px;
    height: 70px;
  }
}
.heading {
  font-family: roboto;
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}
.list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
